<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/main.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%- include('navbar.html') %>
      <h4 class="container mt-4 text-center"><strong>글 수정 페이지</strong></h4>
      <div class="container mt-3">
        <form action="/edit/<%= upd._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label>할일 제목</label>
   <input  class="form-control" name="title" value="<%= upd.title %>" ></div>
          <div class="form-group">
            <label>마감 일자</label>
 <input  class="form-control" name="date" value="<%= upd.date %>">
            <label class="my-4">할일 내용</label>
<textarea class="form-control" name="content" rows="6"><%= upd.content %></textarea>
          </div><input type="file" name="img1" accept="image/*">  <% if(upd.img){ %>
            <input name="clear" style="display: none">
            <button class="next" id="Btn" type="submit">기존 이미지 삭제</button>
          <% } %></br> </br>
<button type="submit" class="ate btn btn-outline-secondary" data-id="<%= upd._id %>">
    Submit</button>
    <a href="/list" class="btn btn-primary">Go To List</a>
    <% if (message) { %>
      <script>alert('<%= message %>')</script>
  <% } %>        </form>
      </div> <script>
 const Btn = document.getElementById('Btn');
Btn.addEventListener('click', (event) => { 
  const cl = document.getElementsByName('clear')[0];
  cl.value = false });

document.querySelector('input[type=file]').addEventListener('change', e=> {
  var fileName = e.target.files[0].name;
  var ext = fileName.substr(fileName.lastIndexOf('.') + 1);
  if (ext !== 'png' && ext !== 'jpg' && ext !== 'gif' && ext !== 'jpeg') {
    alert('PNG, JPG, GIF만 업로드 가능합니다 put');
    e.target.value = ''    }
}); </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

  </body>
</html>